%p#notice= notice

%div.hero-unit
  %div
    %p= @llist.name

  %div.modal.fade#newLitem
    = render :partial => 'litems/form'

  %div= link_to '+', "javascript:$('#newLitem').modal({show: true})"

  %div#current
    %div.panel.panel-active
      %div.panel-heading
        %h3.panel-title= @llist.current_litem.try(:name)
      %div.panel-body
        %p
          = @llist.current_litem.count
          = link_to 'done', done_llist_litem_path(@llist, @llist.current_litem), method: :post
        - if @llist.current_litem.text
          %pre= @llist.current_litem.text

  %div#litemPager
    %ul.pager
      %li.next
        = link_to 'next', next_llist_path(@llist)
