%p#notice= notice

%div.hero-unit
  %div
    %p= @llist.name

  %div.modal.fade#newLitem
    = render :partial => 'litems/form'

  %div= link_to '+', "javascript:$('#newLitem').modal({show: true})"

  %div#current
    %div.panel.panel-active
      %div.panel-heading
        %h3.panel-title= @llist.current_litem.name
      %div.panel-body
        &nbsp;

  %div#litemPager
    %ul.pager
      %li.next
        = link_to 'Next', next_llist_path(@llist)
