!!!
%html

  %head
    %meta{ :content => 'width=device-width, initial-scale=1.0', :name => 'viewport' }
    %meta{ :content => content_for?(:description) ? yield(:description) : 'Listy', :name => 'description' }
    %title= content_for?(:title) ? yield(:title) : "Listy"
    = stylesheet_link_tag 'application', media: 'all', data_turbolinks_track: true
    = javascript_include_tag 'application', data_turbolinks_track: true
    = csrf_meta_tags

  %body
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render :partial => 'shared/navigation'
    %main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render :partial => 'shared/messages'
              = yield
          %footer
